:root {
  --primary:       hsl(25, 97%, 53%);
  --white:         hsl(0, 0%, 100%);
  --grey_light:    hsl(217, 12%, 63%);
  --grey_medium:   hsl(216, 12%, 54%);
  --blue_dark:     hsl(213, 19%, 18%);
  --blue_veryDark: hsl(216, 12%, 8%)
}

* {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
  font-weight: 400;
  box-sizing: border-box;
}

body {
  background: var(--blue_veryDark);
  display: grid;
  color:      var(--white);
  box-sizing: border-box;
  height:    100vh;
  max-width: 1440px;
  font-family: 'Overpass', sans-serif;
  justify-content: center;
  align-items: center;
}

p {
  max-width: 60ch;
  color: var(--grey_light);
  font-size: calc(1rem - 1px)
}